<h1 id="snort"><strong>SNORT</strong></h1>
<figure>
<img src="../images/snort_logo.jpg" alt="logo_porquet" /><figcaption>logo_porquet</figcaption>
</figure>
<p>NIDS és també conegut com a Sistema de detecció d’intrusos en una Xarxa. Busca detectar anomalies que indiquin un risc potencial.</p>
<h1 id="motor-de-snort">Motor de snort</h1>
<figure>
<img src="../images/engine.png" alt="snort_engine" /><figcaption>snort_engine</figcaption>
</figure>
<ul>
<li><p><strong>Decodificador de paquets</strong>: És la part encarregada d’agafar tots els paquets d’una xarxa, desde les diferents interfícies.</p></li>
<li><p><strong>Preprocessadors</strong>: És la part encarregada de preparar les dades, ajuntant paquets, per tal que les regles del motor de detecció puguin fer <em>match</em> de forma correcta.</p></li>
<li><p><strong>Motor de detecció</strong>: És la part més important, ja que s’encarrega de contrastar els paquets que venen dels preprocessadors amb les seves regles.</p></li>
<li><p><strong>Logging</strong>: Depenent del que es detecti amb les regles, els logins s’encarreguen de loguejar el paquet o generar una alerta.</p></li>
<li><p><strong>Plugins de sortida</strong>: S’agafa la sortida generada per l’alerta i l’emmagatzema en diferents formats, reaccionant a ella, fent que s’hagi d’enviar un mail, o inserint una nova entrada a una base de dades.</p></li>
</ul>
<h1 id="modes-de-snort">Modes de snort</h1>
<ul>
<li><strong>Sniffer mode</strong></li>
<li><strong>Packet Logger mode</strong></li>
<li><strong>Network Intrusion Detection System mode(NIDS)</strong></li>
</ul>
<h1 id="sniffer-mode">Sniffer mode</h1>
<pre><code>root@linux:~# snort -v -A console -c /etc/snort/snort.conf -i eno1</code></pre>
<ul>
<li><p><code>-v</code>: Mode <em>sniffer</em>.</p></li>
<li><p><code>-A console</code>: Aquí fem referència a que l’ <em>output</em> de l’ordre es farà a traves de la terminal.</p></li>
<li><p><code>-c /etc/snort/snort.conf</code>: Aquí fem referència a la configuració que Snort ha d’utilitzar per funcionar.</p></li>
<li><p><code>-i eno1</code>: Interficie per la que Snort escoltarà i analitzarà el tràfic.</p></li>
</ul>
<pre><code>05/15-13:47:13.411215 192.168.1.33:35704 -&gt; 82.196.7.188:443
TCP TTL:64 TOS:0x0 ID:57009 IpLen:20 DgmLen:206 DF
***AP*** Seq: 0xBD91E2EF  Ack: 0x934759BB  Win: 0x1F5  TcpLen: 32
TCP Options (3) =&gt; NOP NOP TS: 3711423327 293179851 
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+

05/15-13:47:13.450120 82.196.7.188:443 -&gt; 192.168.1.33:35704
TCP TTL:51 TOS:0x0 ID:42760 IpLen:20 DgmLen:52 DF
***A**** Seq: 0x934759BB  Ack: 0xBD91DD60  Win: 0xEB  TcpLen: 32
TCP Options (3) =&gt; NOP NOP TS: 293179861 3711423327 
=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
</code></pre>
<h1 id="packet-logger-mode">Packet Logger mode</h1>
<p>Encenem Snort:</p>
<pre><code>root@linux:~# snort -q -l ./snort_logger/ -i eno1 </code></pre>
<ul>
<li><p><code>-q</code>: Amb aquesta part únicament estem avisant a Snort que no ens mostri res per pantalla.</p></li>
<li><p><code>-l ./dir_2_log/</code>: Amb questa part indiquem el directori de <em>log</em>.</p></li>
<li><p><code>-i eno1</code>: Interficie per la que Snort escoltarà i analitzarà el tràfic.</p></li>
</ul>
<pre><code>root@linux:~# ls snort_logger/

snort.log.1621130984  snort.log.1621131346  snort.log.1621131362
</code></pre>
<p>Llegim un paquet:</p>
<pre><code>root@linux:~# snort -r snort_logger/snort.log.1621130984</code></pre>
<ul>
<li><code>-r</code>: Li diem a snort que llegeixi un fitxer de logs.</li>
</ul>
<pre><code>root@linux:~# wireshark snort_logger/snort.log.1621130984</code></pre>
<figure>
<img src="../images/wireshark.png" alt="captura_wireshark" /><figcaption>captura_wireshark</figcaption>
</figure>
<h1 id="network-intrusion-detection-system-modenids">Network Intrusion Detection System mode(NIDS)</h1>
<pre><code>alert tcp any any -&gt; any any (msg:&quot;!!! TCP detectat !!!&quot;;sid: 1000001;)</code></pre>
<ul>
<li><strong>Header</strong>:
<ul>
<li><p><code>alert</code>: Ens alertarà.</p></li>
<li><p><code>log</code>: Emmagatzemarà els paquets.</p></li>
<li><p><code>pass</code>: Ignora el paquet.</p></li>
<li><p><code>drop</code>: Bloqueja i emmagatzema el paquet.</p></li>
<li><p><code>reject</code>: Bloqueja el paquet, el registra i envia una resposta.</p></li>
<li><p><code>sdrop</code>: Bloqueja el paquet però no l’emmagatzema.</p></li>
</ul></li>
<li><p><strong>Protocol</strong></p></li>
<li><strong>IP</strong> (Origen)</li>
<li><strong>Port</strong> (Origen)</li>
<li><code>-&gt;</code></li>
<li><strong>IP</strong> (Destí)</li>
<li><strong>Port</strong> (Destí)</li>
<li><p><strong>Opcions de Snort</strong></p></li>
</ul>
<pre><code>root@linux:~# snort -A console -c /etc/snort/snort.conf -i eno1</code></pre>
<ul>
<li><code>-A console</code>: Aquí fem referència a que l’ output de l’ordre es farà a traves de la terminal.</li>
<li><code>-c /etc/snort/snort.conf</code>: Aquí fem referència a la configuració que Snort ha d’utilitzar per funcionar.<br />
</li>
<li><code>-i eno1</code>: Interficie per la que Snort escoltarà i analitzarà el tràfic.</li>
</ul>
<pre><code>05/17-04:37:01.494250  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.494369  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.494487  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.494606  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.494725  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.494844  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.494963  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.495082  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.495201  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.495320  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
05/17-04:37:01.495438  [**] [1:1000000:0] !!! TCP detectat !!! [**] [Priority: 0] {TCP} 74.125.97.169:443 -&gt; 192.168.1.33:46262
</code></pre>
